@model IEnumerable<Cinema.Models.Reservation>

@{
    ViewData["Title"] = "Twoje rezerwacje";
}

<h1>Moje rezerwacje</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                Tytuł filmu:
            </th>
            <th>
                Data seansu:
            </th>
            <th>
                Kod rezerwacji:
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SeatNumbers)
            </th>
            <th>
                Całkowita cena:
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Seance.Movie.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Seance.Date)
                </td>
                    <td>
                    @Html.DisplayFor(modelItem => item.Code)
                    </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SeatNumbers)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TotalPrice) zł
                </td>
                <td>
                        <a asp-action="Details" asp-route-id="@item.Id"><input type="button" value="Szczegóły" class="btn btn-danger" /></a> |
                    <a asp-action="Delete" asp-route-id="@item.Id"><input type="button" value="Usuń" class="btn btn-danger" /></a>
                </td>
            </tr>
        }
    </tbody>
</table>
