@model IEnumerable<Cinema.Models.Movie>

@{
    ViewData["Title"] = "Filmy";
}

<h1>Filmy</h1>

<p>
    <a asp-action="Create"><input type="button" value="Dodaj nowy" class="btn btn-danger" /></a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Time)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PictureLink)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Time)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PictureLink)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id"><input type="button" value="Edytuj" class="btn btn-danger" /></a> |
                <a asp-action="Details" asp-route-id="@item.Id"><input type="button" value="Szczegóły" class="btn btn-danger" /></a> |
                <a asp-action="Delete" asp-route-id="@item.Id"><input type="button" value="Usuń" class="btn btn-danger" /></a>
            </td>
        </tr>
}
    </tbody>
</table>
