@model Cinema.Models.Seance

@{
    ViewData["Title"] = "Szczegóły";
}

<h1>Szczegóły</h1>

<div>
    
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class = "col-sm-2">
            Ilość wolnych miejsc:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FreeSeatCount) / @Html.DisplayFor(model => model.MaxSeatCount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Movie.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Movie.Title)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id"><input type="button" value="Edytuj" class="btn btn-danger" /></a> |
    @if (User.IsInRole("SuperAdmin"))
    {
                <a asp-action="Index"><input type="button" value="Wróć do listy" class="btn btn-danger" /></a>
    }
    else
    {
                <a asp-action="IndexUser"><input type="button" value="Wróć do listy" class="btn btn-danger" /></a>
    }
</div>
