@model IEnumerable<Cinema.Models.Seance>

@{
    ViewData["Title"] = "IndexUser";
}

<h1>Index</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                Ilość wolnych miejsc:
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Movie.Title)
            </th>
            <th>
                
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MaxSeatCount) / @Html.DisplayFor(modelItem => item.FreeSeatCount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Movie.Title)
                </td>
                <td>
                    <a asp-controller="Reservations" asp-action="Create">Zarezerwój</a>
                </td>
            </tr>
        }
    </tbody>
</table>
